@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="welcomebox">
    <div class="container-header">
        <label class="text-header">Welcome</label>
    </div>
    <div class="container-body">
        <label class="text-body">This user-friendly application is designed to help you optimize your screen experience on any device. With just a click, you can effortlessly go fullscreen and clean your screen or perform a quick test for dead pixels. The interface features a selection of colored buttons for easy navigation and convenience. Whether you want to enhance the clarity of your display or ensure pixel perfection, this application provides a seamless solution.</label>
    </div>
</div>
<div class="buttoncontainer">
<div href="#" id="colorbutton-blue">
</div>
<div href="#" id="colorbutton-red">
</div>
<div href="#" id="colorbutton-green">
</div>
<div href="#" id="colorbutton-black">
</div>
<div href="#" id="colorbutton-white">
</div>
</div>